.userLoginBox{
    margin-top: 40px
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.bg-danger {
    background-color: #f2dede !important;
}
